<!DOCTYPE html>
<html>
  <head>
    <title>Pickup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<!-- need home page link -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">


    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <% if cur_player %>
        <li class='nav-item'>
          <div class="nav-tag">
            <div class="nav-link">Welcome Baller <%= cur_player.name %>!!!</div>
          </div>
        </li>
        <li class='nav-item'>
          <div class="nav-tag">
            <a class="nav-link"> <%= link_to "Logout", logout_path, {:method => :delete, :class => "item"} %> </a>
          </div>
        </li>

        <li class='nav-item'>
          <div class="nav-tag">
            <a class="nav-link">  <%= link_to "Player Home Page", player_path(cur_player) %> </a>
          </div>
        </li>


        <% else %>
          <div class="nav-tag" > <%= link_to("Login", login_path)  %>      </div>
          <div class="nav-tag" >  <%= link_to("Signup", new_player_path) %> </div>
        <% end %>
      </ul>
    </div>
  </nav>

  <body>
    <div class="ui container">


    <div class="ui secondary pointing menu">


    </div>

    <% if flash[:error] %>
      <p style="color: red">
        <%= flash[:error] %>
      </p>
    <% elsif flash[:notice] %>
      <p style="color: green">
        <%= flash[:notice] %></p>
    <%end %>

    <div class="ui middle aligned center aligned grid">
      <div class="ten wide column">


    <%= yield %>

      </div>
    </div>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>



</html>
